.clr {
    clear: both;
    font-size: 0.1px;
    line-height: 0;
    }
h2 {
    background: url(../images/FM.png) 0 0 no-repeat;
    margin: 0;
    padding: 0 0 4px 0;
    border-bottom: 1px solid #666;
    }
    h2 a {
        display: block;
        text-indent: -3000px;
        min-width: 280px;
        min-height: 63px;
        }

.page {
    width: 320px;
    }
    h3.headline {
        font-family: "Georgia", "Times New Roman", times, serif;
        font-size: 235%;
        font-weight: bold;
        margin: 0 0 0 0;
        padding: 6px 20px 0 20px;
        kword-break: break-all;
        text-justify: newspaper;
        }

    .copy {
        margin: 12px 0 0 0;
        padding: 0 20px 20px 0;
        overflow: auto;
        }
        .copy .inner {
            padding: 0 0 0 20px;
            }
        .copy strong { font-weight: bold; font-size: 110%; }
        .copy em { font-weight: normal; font-style: italic; }
        .copy p {
            margin-bottom: 0.75em;
            }
            /*
        .copy table {
            height: 100%;
            text-overflow: ellipsis;
            overflow: clip;
            }
            .copy table td span {
                display: block;
                height: 200px;
                text-align: justify;
                vertical-align: top;
                margin-bottom: 20px;
                }
                */
            .copy .col1,
            .copy .col2,
            .copy .col3 {
                height: 20.5em;
                font-size: 75%;
                width: 27%;
                float: left;
                vertical-align: top;
                }
            .copy .col1 { padding-right: 6%; background: #fff; }
            .copy .col3 { padding-left: 6%; background: #fff; }

    .footer {
        font-size: 75%;
        padding: 0 20px;
        }
        .footer p {
            margin: 0 0 0.5em 0;
            padding: 0;
            }
        .footer .inner {
            border-top: 1px solid #666;
            margin-top: 20px;
            padding: 10px 20px 5px 20px;
            }
            

